[submodule "subs/SoapySDRPlay3"]
	path = subs/SoapySDRPlay3
	url = https://github.com/luarvique/SoapySDRPlay3.git
[submodule "subs/csdr"]
	path = subs/csdr
	url = https://github.com/luarvique/csdr.git
[submodule "subs/pycsdr"]
	path = subs/pycsdr
	url = https://github.com/luarvique/pycsdr.git
[submodule "subs/owrx_connector"]
	path = subs/owrx_connector
	url = https://github.com/luarvique/owrx_connector.git
[submodule "subs/codecserver"]
	path = subs/codecserver
	url = https://github.com/jketterl/codecserver.git
[submodule "subs/digiham"]
	path = subs/digiham
	url = https://github.com/jketterl/digiham.git
[submodule "subs/pydigiham"]
	path = subs/pydigiham
	url = https://github.com/jketterl/pydigiham.git
[submodule "subs/csdr-eti"]
	path = subs/csdr-eti
	url = https://github.com/luarvique/csdr-eti.git
[submodule "subs/pycsdr-eti"]
	path = subs/pycsdr-eti
	url = https://github.com/luarvique/pycsdr-eti.git
[submodule "subs/js8py"]
	path = subs/js8py
	url = https://github.com/jketterl/js8py.git
[submodule "subs/redsea"]
	path = subs/redsea
	url = https://github.com/luarvique/redsea.git
[submodule "subs/csdr-cwskimmer"]
	path = subs/csdr-cwskimmer
	url = https://github.com/luarvique/csdr-cwskimmer.git
[submodule "subs/mbelib"]
	path = subs/mbelib
	url = https://github.com/szechyjs/mbelib.git
[submodule "subs/msk144decoder"]
	path = subs/msk144decoder
	url = https://github.com/jketterl/msk144decoder.git
[submodule "subs/dump1090"]
	path = subs/dump1090
	url = https://github.com/flightaware/dump1090.git
[submodule "subs/acarsdec"]
	path = subs/acarsdec
	url = https://github.com/luarvique/acarsdec.git
[submodule "subs/libacars"]
	path = subs/libacars
	url = https://github.com/szpajder/libacars.git
[submodule "subs/dumphfdl"]
	path = subs/dumphfdl
	url = https://github.com/szpajder/dumphfdl.git
[submodule "subs/dumpvdl2"]
	path = subs/dumpvdl2
	url = https://github.com/szpajder/dumpvdl2.git
[submodule "subs/nrsc5"]
	path = subs/nrsc5
	url = https://github.com/theori-io/nrsc5.git
[submodule "subs/codecserver-softmbe"]
	path = subs/codecserver-softmbe
	url = https://github.com/knatterfunker/codecserver-softmbe.git
